{
  "extends": [
    "taro",
    "@vue/standard"
  ],
  "rules": {
    "no-unused-vars": ["error", { "varsIgnorePattern": "Taro" }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx"] }]
  },
    "parser": "babel-eslint",
    "settings": {
      "import/resolver": {
        "alias": {
          "map": [
            ["@/components", "./src/components"],
            ["@/utils", "./src/utils"]
          ]
        }
      }
    }
  }
